body {
  background-color: #b0b0b0;
}

.container {
  background-color: white;
  border: 1px solid black;
}

header {
  text-align: center;
  border: 1px solid red;
}

main {
  margin-top: 10px;
}

footer {
  margin-top: 10px;
  margin-bottom: 80px;
  text-align: center;
  border: 1px solid blue;
}

nav.fixed-bottom {
  background-color: white;
  border: 1px solid green;
}
